*{

    margin:0;
    padding:0;

    box-sizing:border-box;
}

/* smooth scroll */

html{

    scroll-behavior:smooth;
}

/* body design */

body{

    font-family:Arial;

    background:#f3f4f6;

    color:#111827;
}

/* navbar */

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 70px;

    background:#111827;

    position:sticky;

    top:0;

    z-index:1000;
}

.logo{

    color:white;

    font-size:28px;
}

nav ul{

    display:flex;

    list-style:none;
}

nav ul li{

    margin-left:25px;
}

nav ul li a{

    color:white;

    text-decoration:none;

    font-size:17px;

    transition:0.3s;
}

nav ul li a:hover{

    color:#60a5fa;
}

/* hero section */

.hero{

    display:flex;

    justify-content:space-around;

    align-items:center;

    padding:80px 60px;
}

.left{

    width:500px;
}

.left h1{

    font-size:52px;

    margin-bottom:10px;
}

.left span{

    color:#2563eb;
}

/* typing effect */

#typing{

    color:#2563eb;

    margin-bottom:18px;

    height:30px;
}

.left p{

    line-height:28px;
}

/* buttons */

.btns{

    display:flex;

    gap:20px;
}

button{

    margin-top:25px;

    padding:13px 28px;

    border:none;

    background:#2563eb;

    color:white;

    border-radius:8px;

    cursor:pointer;

    font-size:15px;

    transition:0.3s;
}

button:hover{

    background:#1d4ed8;

    transform:scale(1.05);
}

/* resume button */

.resume-btn{

    margin-top:25px;

    padding:13px 28px;

    background:#111827;

    color:white;

    border-radius:8px;

    text-decoration:none;

    display:inline-block;

    transition:0.3s;
}

.resume-btn:hover{

    background:black;

    transform:scale(1.05);
}

/* image */

.right img{

    width:320px;
}

/* common section */

section{

    padding:60px;
}

/* about */

.about{

    background:white;
}

.about p{

    margin-top:15px;

    line-height:28px;
}

/* about cards */

.about-boxes{

    display:flex;

    gap:20px;

    margin-top:30px;
}

.info-card{

    background:#f3f4f6;

    padding:25px;

    border-radius:12px;

    width:250px;

    box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}

/* skills */

.skills{

    background:#e5e7eb;
}

.skill-box{

    display:flex;

    gap:20px;

    margin-top:30px;
}

.card{

    background:white;

    padding:25px;

    width:170px;

    text-align:center;

    border-radius:12px;

    font-weight:bold;

    box-shadow:0px 5px 10px rgba(0,0,0,0.1);

    cursor:pointer;

    transition:0.3s;
}

.card:hover{

    background:#2563eb;

    color:white;

    transform:translateY(-8px);
}

/* projects */

.project-container{

    display:flex;

    gap:25px;

    margin-top:30px;
}

.project-card{

    background:white;

    padding:25px;

    border-radius:12px;

    width:280px;

    box-shadow:0px 5px 10px rgba(0,0,0,0.1);

    cursor:pointer;

    transition:0.3s;
}

.project-card:hover{

    transform:scale(1.05);

    background:#dbeafe;
}

/* contact */

.contact{

    background:#111827;

    color:white;
}

.contact p{

    margin-top:12px;
}

/* footer */

footer{

    background:black;

    color:white;

    text-align:center;

    padding:20px;
}